header {
<<<<<<< HEAD
  height: 70px;
  width: 100%;
  background-color: #FF0000;
  text-align: center;
  line-height: 70px;
=======
    background-color: #FF0000;
    height: 70px;
    width: 100%;
>>>>>>> 7142f0976001891bb0de657427ba0a3f6b9c0c6f
}
